env:
  global:
    - SETUP=stable

matrix:
  fast_finish: true
  include:
    - os: linux
      dist: xenial
      language: php
      php: '7.2'
      services:
        - memcached
        - redis-server
        - mysql
    - os: linux
      dist: xenial
      language: php
      php: '7.2'
      env: SETUP=lowest
      services:
        - memcached
        - redis-server
        - mysql
    - os: linux
      dist: xenial
      language: php
      php: '7.3'
      services:
        - memcached
        - redis-server
        - mysql
    - os: linux
      dist: xenial
      language: php
      php: '7.3'
      env: SETUP=lowest
      services:
        - memcached
        - redis-server
        - mysql

#    - os: osx
#      language: php
#      php: '7.1'
#    - os: osx
#      language: php
#      php: '7.1'
#      env: SETUP=lowest
#    - os: osx
#      language: php
#      php: '7.2'
#    - os: osx
#      language: php
#      php: '7.2'
#      env: SETUP=lowest
#    - os: osx
#      language: php
#      php: '7.3'
#    - os: osx
#      language: php
#      php: '7.3'
#      env: SETUP=lowest

    - os: windows
      language: sh
      env:
        - PHP_VERSION=7.2.20
        - PHP_DIR=php72
        - REDIS_EXT=https://windows.php.net/downloads/pecl/releases/redis/5.0.2/php_redis-5.0.2-7.2-nts-vc15-x64.zip
      cache:
        directories:
          - $HOME/AppData/Local/Temp/chocolatey
          - $HOME/AppData/Local/Composer
          - /c/tools/$PHP_DIR
          - /c/ProgramData/ComposerSetup/bin
          - /c/tools/mysql/
          - /c/ProgramData/chocolatey/lib/redis-64
    - os: windows
      language: sh
      env:
        - PHP_VERSION=7.2.20
        - PHP_DIR=php72
        - REDIS_EXT=https://windows.php.net/downloads/pecl/releases/redis/5.0.2/php_redis-5.0.2-7.2-nts-vc15-x64.zip
        - SETUP=lowest
      cache:
        directories:
          - $HOME/AppData/Local/Temp/chocolatey
          - $HOME/AppData/Local/Composer
          - /c/tools/$PHP_DIR
          - /c/ProgramData/ComposerSetup/bin
          - /c/tools/mysql/
          - /c/ProgramData/chocolatey/lib/redis-64

    - os: windows
      language: sh
      env:
        - PHP_VERSION=7.3.8
        - PHP_DIR=php73
        - REDIS_EXT=https://windows.php.net/downloads/pecl/releases/redis/5.0.2/php_redis-5.0.2-7.3-nts-vc15-x64.zip
      cache:
        directories:
          - $HOME/AppData/Local/Temp/chocolatey
          - $HOME/AppData/Local/Composer
          - /c/tools/$PHP_DIR
          - /c/ProgramData/ComposerSetup/bin
          - /c/tools/mysql/
          - /c/ProgramData/chocolatey/lib/redis-64
    - os: windows
      language: sh
      env:
        - PHP_VERSION=7.3.8
        - PHP_DIR=php73
        - REDIS_EXT=https://windows.php.net/downloads/pecl/releases/redis/5.0.2/php_redis-5.0.2-7.3-nts-vc15-x64.zip
        - SETUP=lowest
      cache:
        directories:
          - $HOME/AppData/Local/Temp/chocolatey
          - $HOME/AppData/Local/Composer
          - /c/tools/$PHP_DIR
          - /c/ProgramData/ComposerSetup/bin
          - /c/tools/mysql/
          - /c/ProgramData/chocolatey/lib/redis-64

cache:
  directories:
    - $HOME/.composer/cache

before_install:
  - if [ $TRAVIS_OS_NAME != 'windows' ]; then phpenv config-rm xdebug.ini || true; fi
  - if [ $TRAVIS_OS_NAME != 'windows' ]; then echo "extension = memcached.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini; fi
  - if [ $TRAVIS_OS_NAME != 'windows' ]; then printf "\n" | pecl install -f redis; fi
  - if [ $TRAVIS_OS_NAME != 'windows' ]; then mysql -e 'CREATE DATABASE forge;'; fi

  # Windows: Install PHP and setup PATH
  - if [ $TRAVIS_OS_NAME = 'windows' ]; then if [ ! -f "/c/tools/$PHP_DIR/php.ini" ]; then choco install php --version $PHP_VERSION -y; ./bin/travis/windows_configure_php.sh; fi; fi
  - if [ $TRAVIS_OS_NAME = 'windows' ]; then export PATH=/c/tools/$PHP_DIR:$PATH; fi

  # Windows: Install Composer and modify PATH
  - if [ $TRAVIS_OS_NAME = 'windows' ]; then if [ ! -f "/c/ProgramData/ComposerSetup/bin/composer.bat" ]; then choco install composer -i;  fi; fi
  - if [ $TRAVIS_OS_NAME = 'windows' ]; then export PATH=/c/ProgramData/ComposerSetup/bin:$PATH; fi

  # Windows: Install MySQL, modify PATH, ALTER root with a blank password, and CREATE database
  - if [ $TRAVIS_OS_NAME = 'windows' ]; then if [ -f "/c/tools/mysql/current/bin/mysql.exe" ]; then cmd /c NET START MySQL; fi; fi
  - if [ $TRAVIS_OS_NAME = 'windows' ]; then if [ ! -f "/c/tools/mysql/current/bin/mysql.exe" ]; then choco install mysql --version 5.7.18; ./bin/travis/windows_configure_mysql.sh; fi; fi
  - if [ $TRAVIS_OS_NAME = 'windows' ]; then export PATH=/c/tools/mysql/current/bin:$PATH; fi
  - if [ $TRAVIS_OS_NAME = 'windows' ]; then mysql -u root -e 'CREATE DATABASE forge;'; fi

  # Windows: Install Redis and modify PATH
  - if [ $TRAVIS_OS_NAME = 'windows' ]; then if [ ! -f "/c/ProgramData/chocolatey/lib/redis-64/redis-server.exe" ]; then choco install redis-64; fi; fi
  - if [ $TRAVIS_OS_NAME = 'windows' ]; then export PATH=/c/ProgramData/chocolatey/lib/redis-64:$PATH; fi
  - if [ $TRAVIS_OS_NAME = 'windows' ]; then redis-server --service-install; fi
  - if [ $TRAVIS_OS_NAME = 'windows' ]; then redis-server --service-start; fi

  - travis_retry composer self-update

install:
  - if [ $SETUP = 'stable' ]; then travis_retry composer update --prefer-dist --no-interaction --prefer-stable --no-suggest; fi
  - if [ $SETUP = 'lowest' ]; then travis_retry composer update --prefer-dist --no-interaction --prefer-lowest --prefer-stable --no-suggest; fi

script: vendor/bin/phpunit

before_cache: mysql -u root -e 'DROP DATABASE forge;';
