env:
  global:
    - SETUP=stable

matrix:
  fast_finish: true
  include:
    # Linux Instances
    - os: linux
      dist: xenial
      language: php
      php: '7.2'
      services:
        - memcached
        - redis-server
        - mysql
    - os: linux
      dist: xenial
      language: php
      php: '7.2'
      env: SETUP=lowest
      services:
        - memcached
        - redis-server
        - mysql

    - os: linux
      dist: xenial
      language: php
      php: '7.3'
      services:
        - memcached
        - redis-server
        - mysql
    - os: linux
      dist: xenial
      language: php
      php: '7.3'
      env: SETUP=lowest
      services:
        - memcached
        - redis-server
        - mysql

    # OSX Instances
    - os: osx
      osx_image: xcode11
      language: generic
      addons:
        homebrew:
          brewfile: ./bin/travis/mac_brewfile_72.txt
      env:
        PHP_VERSION=7.2
    - os: osx
      osx_image: xcode11
      language: generic
      addons:
        homebrew:
          brewfile: ./bin/travis/mac_brewfile_72.txt
      env:
        PHP_VERSION=7.2
        SETUP=lowest

    - os: osx
      osx_image: xcode11
      language: generic
      addons:
        homebrew:
          brewfile: ./bin/travis/mac_brewfile_73.txt
      env:
        PHP_VERSION=7.3
    - os: osx
      osx_image: xcode11
      language: generic
      addons:
        homebrew:
          brewfile: ./bin/travis/mac_brewfile_73.txt
      env:
        PHP_VERSION=7.3
        SETUP=lowest

    # Windows Instances
    - os: windows
      language: sh
      env:
        - PHP_VERSION=7.2.20
        - PHP_DIR=php72
        - REDIS_EXT=https://windows.php.net/downloads/pecl/releases/redis/5.0.2/php_redis-5.0.2-7.2-nts-vc15-x64.zip
    - os: windows
      language: sh
      env:
        - PHP_VERSION=7.2.20
        - PHP_DIR=php72
        - REDIS_EXT=https://windows.php.net/downloads/pecl/releases/redis/5.0.2/php_redis-5.0.2-7.2-nts-vc15-x64.zip
        - SETUP=lowest

    - os: windows
      language: sh
      env:
        - PHP_VERSION=7.3.8
        - PHP_DIR=php73
        - REDIS_EXT=https://windows.php.net/downloads/pecl/releases/redis/5.0.2/php_redis-5.0.2-7.3-nts-vc15-x64.zip
    - os: windows
      language: sh
      env:
        - PHP_VERSION=7.3.8
        - PHP_DIR=php73
        - REDIS_EXT=https://windows.php.net/downloads/pecl/releases/redis/5.0.2/php_redis-5.0.2-7.3-nts-vc15-x64.zip
        - SETUP=lowest

cache:
  directories:
    - $HOME/.composer/cache
    - $HOME/AppData/Local/Composer
    - $HOME/Library/Caches/Homebrew
    - $HOME/AppData/Local/Temp/chocolatey
    - /c/ProgramData/chocolatey/lib/redis-64
    - /c/ProgramData/ComposerSetup/bin
    - /c/ProgramData/MySQL/data
    - /c/tools/$PHP_DIR
    - /c/tools/mysql

before_install:
  - if [[ $TRAVIS_OS_NAME = 'osx' ]]; then echo "memory_limit=256M" >> /usr/local/etc/php/$PHP_VERSION/php.ini; fi
  - if [[ $TRAVIS_OS_NAME = 'osx' ]]; then printf "\n" | pecl install -f memcached; fi

  - if [[ $TRAVIS_OS_NAME != 'windows' ]]; then printf "\n" | pecl install -f redis; fi

  - if [[ $TRAVIS_OS_NAME = 'linux' ]]; then phpenv config-rm xdebug.ini || true; fi
  - if [[ $TRAVIS_OS_NAME = 'linux' ]]; then echo "extension = memcached.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini; fi
#  - if [[ $TRAVIS_OS_NAME = 'linux' ]]; then mysql -e 'CREATE DATABASE forge;'; fi

  # Windows: Install PHP and setup PATH
  - if [[ $TRAVIS_OS_NAME = 'windows' ]]; then if [[ ! -f "/c/tools/$PHP_DIR/php.ini" ]]; then choco install php --version $PHP_VERSION -y; ./bin/travis/windows_configure_php.sh; fi; fi
  - if [[ $TRAVIS_OS_NAME = 'windows' ]]; then export PATH=/c/tools/$PHP_DIR:$PATH; fi

  # Windows: Install Composer and modify PATH
  - if [[ $TRAVIS_OS_NAME = 'windows' ]]; then if [[ ! -f "/c/ProgramData/ComposerSetup/bin/composer.bat" ]]; then choco install composer -i;  fi; fi
  - if [[ $TRAVIS_OS_NAME = 'windows' ]]; then export PATH=/c/ProgramData/ComposerSetup/bin:$PATH; fi

  # Windows: Install MySQL, modify PATH, ALTER root with a blank password, and CREATE database
  - if [[ $TRAVIS_OS_NAME = 'windows' ]]; then if [[ -f "/c/tools/mysql/current/my.ini" ]]; then /c/tools/mysql/current/bin/mysqld.exe --install; fi; fi
  - if [[ $TRAVIS_OS_NAME = 'windows' ]]; then if [[ -f "/c/tools/mysql/current/my.ini" ]]; then net start MySQL; fi; fi
  - if [[ $TRAVIS_OS_NAME = 'windows' ]]; then if [[ ! -f "/c/tools/mysql/current/my.ini" ]]; then choco install mysql --version 5.7.18; ./bin/travis/windows_configure_mysql.sh; fi; fi
  - if [[ $TRAVIS_OS_NAME = 'windows' ]]; then export PATH=/c/tools/mysql/current/bin:$PATH; fi

  # Windows: Install Redis and modify PATH
  - if [[ $TRAVIS_OS_NAME = 'windows' ]]; then if [[ ! -f "/c/ProgramData/chocolatey/lib/redis-64/redis-server.exe" ]]; then choco install redis-64; fi; fi
  - if [[ $TRAVIS_OS_NAME = 'windows' ]]; then export PATH=/c/ProgramData/chocolatey/lib/redis-64:$PATH; fi
  - if [[ $TRAVIS_OS_NAME = 'windows' ]]; then redis-server --service-install; fi
  - if [[ $TRAVIS_OS_NAME = 'windows' ]]; then redis-server --service-start; fi

  - mysql -uroot -e 'CREATE DATABASE forge;'; fi
  - travis_retry composer self-update
  # Completely optional - just trying to speed up the slower VMs.
  - travis_retry composer global require hirak/prestissimo

install:
  - if [[ $SETUP = 'stable' ]]; then travis_retry composer update --prefer-dist --no-interaction --prefer-stable --no-suggest; fi
  - if [[ $SETUP = 'lowest' ]]; then travis_retry composer update --prefer-dist --no-interaction --prefer-lowest --prefer-stable --no-suggest; fi

script: vendor/bin/phpunit

before_cache:
  - if [[ $TRAVIS_OS_NAME = 'windows' ]]; then redis-server --service-stop; fi
  - if [[ $TRAVIS_OS_NAME = 'windows' ]]; then mysql -uroot -e 'DROP DATABASE forge;'; fi
  - if [[ $TRAVIS_OS_NAME = 'windows' ]]; then net stop mysql; fi
