env:
  global:
    - SETUP=stable

matrix:
  fast_finish: true
  include:
    - os: linux
      dist: xenial
      language: php
      php: '7.2'
      services:
        - memcached
        - redis-server
        - mysql
    - os: linux
      dist: xenial
      language: php
      php: '7.2'
      env: SETUP=lowest
      services:
        - memcached
        - redis-server
        - mysql
    - os: linux
      dist: xenial
      language: php
      php: '7.3'
      services:
        - memcached
        - redis-server
        - mysql
    - os: linux
      dist: xenial
      language: php
      php: '7.3'
      env: SETUP=lowest
      services:
        - memcached
        - redis-server
        - mysql
#    - os: windows
#      language: sh
#      env:
#        - PHP_VERSION=7.2.20
#        - PHP_DIR=php72
#    - os: windows
#      language: sh
#      env:
#        - PHP_VERSION=7.3.8
#        - PHP_DIR=php73

cache:
  directories:
    - $HOME/.composer/cache

before_install:
  - if [[ $TRAVIS_OS_NAME != 'windows' ]]; then phpenv config-rm xdebug.ini || true; fi
  - if [[ $TRAVIS_OS_NAME != 'windows' ]]; echo "extension = memcached.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini; fi
  - if [[ $TRAVIS_OS_NAME != 'windows' ]]; printf "\n" | pecl install -f redis; fi
  - travis_retry composer self-update
  - mysql -e 'CREATE DATABASE forge;'

install:
  - if [[ $SETUP = 'stable' ]]; then travis_retry composer update --prefer-dist --no-interaction --prefer-stable --no-suggest; fi
  - if [[ $SETUP = 'lowest' ]]; then travis_retry composer update --prefer-dist --no-interaction --prefer-lowest --prefer-stable --no-suggest; fi

script: vendor/bin/phpunit
